@import ../../theme/ui-rules.sass
.signin-page
  ion-content 
    .login-entry
      width: 100%
      padding: 0 $grid*12 4vh
      display: flex
      flex-direction: column
    .login-data
      padding-top: var(--ion-safe-area-top)
      flex-direction: column
      display: flex
      justify-content: flex-start
      align-items: flex-start
      padding: 0 $grid*8 4vh
  ion-footer 
    display: block
    max-width: 100%
    padding: 0