%product-detail--text
  font-family: Open Sans
  font-style: normal
  line-height: 100%
  letter-spacing: -0.05em

.color--light
  color: #FFFFFF

%product-detail--text
  font-family: 'Open Sans'
  font-style: normal
  line-height: 100%
  letter-spacing: -0.05em
  margin: 0px

.product-detail--text-sm
  @extend %product-detail--text
  font-size: 12px

.product-detail--text-bg
  @extend %product-detail--text
  font-size: 16px

ion-grid.product-detail-grid
  padding: 0
  ion-col.product-detail-thumbnail
    isplay: flex
    align-items: center
    padding: 0 12px 0 0
    ion-thumbnail
      --size: 80px
      --border-radius: 14px
      border: 1.5px solid var(--ion-color-secondary-contrast)
      padding: 5px
  ion-col.product-detail-descriptions
    display: grid
    align-items: center
    ion-row
      h6
        margin: 0
        font-weight: 700
      p
        margin: 0 4px 0 0
        color: var(--ion-color-medium-tint)
  ion-row.product-detail-location
    p
      width: 100%
      margin: 12px 0 16px 0
      text-align: center
      padding: 10px 0
      border: 1px solid var(--ion-color-secondary-contrast)
      border-radius: 8px

.product-detail--card
  background-color: #000000
  padding: 16px 24px
  margin: 24px 0px
  border-radius: 24px

.product-detail--tag-title
  @extend %product-detail--text
  font-size: 14px
  font-weight: 600
  color: #666666
  margin-bottom: 4px
  margin-right: 4px

.product-detail--tag-description
  @extend %product-detail--text
  font-size: 16px
  font-weight: 600
  color: #000000

.divider
  height: 1px
  background: #F0F0F0
  width: 100%
  margin: 8px 0px