%detail-new-text
  font-family: 'Open Sans'
  font-style: normal
  line-height: 100%
  letter-spacing: -0.05em
  margin: 0px

.detail-new-flex
  padding: 20px

.detail-new-page
  justify-content: unset
  
.detail-new-title
  @extend %detail-new-text
  font-weight: 700
  font-size: 24px
  color: #000000
  margin-bottom: 14px

.detail-new-subtitle
  @extend %detail-new-text
  font-weight: 700
  font-size: 14px
  color: orange
//   margin-bottom: 14px

.detail-new-description
  @extend %detail-new-text
  font-weight: 500
  font-size: 14px
  color: #141313
  margin-bottom: 14px

.detail-new-content
  padding: 24px
  display: flex
  flex-direction: column

.detail-new-files-content
    margin: 14px 0px
    display: flex
    flex-wrap: nowrap

.detail-new-no-image
    background-color: #eeeeee
    display: flex
    justify-content: center
    align-items: center
    height: 200px
    border-radius: 16px
    margin-bottom: 24px